# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
DATABASE_PATH=me_cli.db

# API Endpoints
BASE_API_URL=""
BASE_CIAM_URL=""

# Authentication
BASIC_AUTH=""

# Device Fingerprint
AX_FP_KEY=""

# HTTP Client
UA=""

# API Keys and Secrets
API_KEY=""
ENCRYPTED_FIELD_KEY=""
XDATA_KEY=""
AX_API_SIG_KEY=""
X_API_BASE_SECRET=""
CIRCLE_MSISDN_KEY=""