# IDE
.vscode/
.idea/

# Environment
.env

# Python (legacy)
__pycache__/
env/
*.pyc

# Go
me-cli-sunset
*.exe
vendor/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# OS
.DS_Store
Thumbs.db

# Temporary files
tokens*
play*
pg*
refresh-tokens*
ax.fp
bookmark.json
active.number
sentry/
*.ipynb